{% extends "admin/change_form.html" %}
{% load i18n %}

{% block after_field_sets %}

<p>{% trans "First, enter with a valid google account. Then, you'll be able to edit more user options." %}</p>
<fieldset class="module aligned">

<div class="form-row">
  {{ form.email.errors }}
  {# TODO: get required class on label_tag #}
  <label for="id_email" class="required">{% trans 'Email' %}:</label> {{ form.email }}
  <p class="help">{{ form.email.help_text }}</p>
</div>

<script type="text/javascript">document.getElementById("id_username").focus();</script>

</fieldset>
{% endblock %}
